* {
  /* unversal selector */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* global reset, cosi da poter impostare i vari margin e padding che vogliamo */
}

body {
  line-height: 1.2;
  font-family: sans-serif;
  background-color: rgb(14, 36, 62);
  border-top: solid 5px white;
  border-bottom: solid 5px white;
}

.logo-animation {
  line-height: normal;
  height: 150px;
  width: 150px;
  border: solid 8px white;
  border-radius: 5px;
  margin: auto;
  margin-top: 180px;
  transition-property: width;
  animation: esempio 1s ease forwards;
  animation-delay: 0.4s;
}

@keyframes esempio {
  from {
    width: 150px;
  }
  to {
    width: 320px;
    border: solid 8px rgb(192, 26, 26);
  }
}

.riga1,
.riga2 {
  font-family: sans-serif;
  color: rgb(192, 26, 26);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 55px;
  margin-left: 20px;
  transform: scale(0.94);
  animation: scale 8s forwards cubic-bezier(0.5, 1, 0.89, 1);
  text-shadow: none;
}

.riga1 {
  margin-top: 5px;
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  color: white;
  opacity: 0;
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.corsodi {
  image-rendering: optimizeQuality;
  display: block;
  margin: auto;
  opacity: 0;
  margin-top: -110px;
  animation: fadein-img 1.2s 1s forwards;
}

@keyframes fadein-img {
  100% {
    opacity: 1;
  }
}

.pulsante {
  display: flex;
  justify-content: center;
  margin-top: -60px;
}

.btn {
  padding: 10px 30px;
  opacity: 0;
  animation: fadein-img 1.2s 1s forwards;
  border-radius: 15px;
  margin-bottom: 150px;
}

.btn:link,
.btn:visited {
  border: solid 2px white;
  transition: border 0.5s;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.btn:hover {
  background-color: rgb(14, 36, 62);

  border: solid 2px rgb(192, 26, 26);
  transition: background-color 0.5s;
  transition: border 0.5s;
}
.btn:active {
  background-color: rgb(19, 49, 85);
  transition: border 0.5s;
  border: solid 2px rgb(192, 26, 26);
}

.video {
  display: block;
  margin: auto;
  border-radius: 16px;
  box-shadow: 0px 10px 30px 0px rgba(19, 49, 85, 0.452);
}

section {
  border-top: solid 1px rgb(192, 26, 26);
}

section:last-child {
  border-bottom: solid 1px rgb(192, 26, 26);
}

p {
  font-family: "Work Sans", sans-serif;
  color: white;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  font-weight: lighter;
  letter-spacing: 1.2px;
}

.span-bold {
  font-weight: bold;
}

li {
  color: white;
  line-height: 1.3;
  font-family: "Work Sans", sans-serif;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

li:last-child {
  margin-bottom: 0;
}

section {
  width: 825px;
  margin: 50px auto;
}

.griglia-what {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  column-gap: 80px;
}

.what-titolo {
  margin-top: -130px;
  margin-bottom: -100px;
}

.p-what {
  line-height: 1.3;
}

.p1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.p2 {
  grid-column: 1/ 2;
  grid-row: 2/3;
}

.p3 {
  grid-column: 1 / 2;
  grid-row: 3/4;
}

.p4 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.what1 {
  grid-column: 2/3;
  grid-row: 1 / 3;
  justify-self: end;
  border-radius: 15px;
}

.what2 {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
  justify-self: end;
  border-radius: 15px;
}

.for-who {
  margin-top: -130px;
  margin-bottom: -100px;
}

.griglia-who {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  align-content: start;
}

.a-chi {
  border-radius: 15px;
  width: 130px;
  justify-self: start;
}

.a1 {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: end;
  align-self: end;
}

.a2 {
  grid-column: 2 / 3;
  grid-row: 1/2;
}

.a3 {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
}

.griglia-autor {
  display: grid;
  grid-template-columns: 1fr 264px;
  grid-template-rows: 1fr;
  margin-top: 20px;
  column-gap: 95px;
  margin-bottom: 20px;
}

.titolo-autor {
  margin-left: 15px;
  grid-column: 1/2;
  grid-row: 1/2;
}

.desc-autor {
  grid-row: 2/3;
  align-self: center;
  line-height: 1.8;
  font-size: 16px;
}

.img-autor {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: stretch;
  border-radius: 15px;
}

.sezione-prezzo {
  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-template-rows: 188px 188px;
  margin-top: 50px;
}

h2 {
  margin-top: 30px;
  color: white;
  font-weight: lighter;
  grid-column: 1/2;
  margin-right: 50px;
  align-self: start;
}

.span-h3 {
  opacity: 1;
  color: rgb(192, 26, 26);
  font-weight: 600;
  animation: none;
}

.img-prezzo {
  grid-column: 2/3;
  grid-row: 1/ 4;
}

.btn-buy {
  background-color: rgb(0, 172, 51);
  padding: 10px;
  border-radius: 15px;
  align-self: end;
  text-align: center;
  margin-bottom: 30px;
  margin-right: 50px;
}

.btn-buy:link,
.btn-buy:visited {
  background-color: rgb(0, 172, 51);
  border: solid 2px white;
  transition: border 0.5s;
  transition: background-color 0.5s;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 1px 1px 3px rgb(14, 36, 62);
}

.btn-buy:hover {
  background-color: rgb(14, 36, 62);
  border: solid 2px rgb(192, 26, 26);
  transition: background-color 0.5s;
  transition: border 0.5s;
}
.btn-buy:active {
  background-color: rgb(19, 49, 85);
  transition: border 0.5s;
  border: solid 2px rgb(192, 26, 26);
}
